
.expanding-cars-wrap{
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.expanding-container{
  display: flex;
  width: 90vw;
}
.expending-content{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  margin:10px;
  flex: .5;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  transition:flex .5s ease-in ;
}
.expending-content h3{
  color:#fff;
  font-family:sans-serif;
  font-size: 18px;
  bottom: 20px;
  opacity: 0;
  left: 20px;
  position: absolute;
}
.expending-active{
  flex: 5;
}
.expending-content.expending-active h3{
  opacity: 1;
  transition: opacity .3s ease-in .6s ;
}

@media ( max-width:680px) {
  .container{
    width:97vw;
  }
  .expending-content:nth-of-type(4),.expending-content:nth-of-type(5){
    display: none;
  }
}
@media ( max-width:480px) {
  .container{
    width:97vw;
  }
  .expending-content:nth-of-type(3),
  .expending-content:nth-of-type(4),
  .expending-content:nth-of-type(5){
    display: none;
  }
}